{% extends 'base.html' %}

{% block content %}

<h1 class="display-6 mb-4">Department List</h1>
<a href="/departments/new" class="btn btn-primary mb-3">Create Department</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Website</th>
            <th scope="col">Description</th>
            <th scope="col">College</th>
        </tr>
    </thead>
    <tbody>
        {% for department in departments %}
        <tr>
            <td>{{ department.department_name }}</td>
            <td>{{ department.department_website }}</td>
            <td>{{ department.department_description }}</td>
            <td>{{ department.college.college_name }}</td>
            <td><a href="/departments/{{ department.id }}" class="btn btn-warning">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}