{% extends 'base.html' %}

{% block content %}

<h1 class="display-6 text-center mb-4">Manage Content</h1>
<div class="row row-cols-3 h-25">
    <div class="col d-flex justify-content-center align-items-center"><a class="btn btn-dark btn-lg rounded-0"
            href="/colleges">Colleges</a></div>
    <div class="col d-flex justify-content-center align-items-center"><a class="btn btn-dark btn-lg rounded-0"
            href="/departments">Departments</a></div>
    <div class="col d-flex justify-content-center align-items-center"><a class="btn btn-dark btn-lg rounded-0"
            href="/degrees">Degrees</a></div>
    <div class="col d-flex justify-content-center align-items-center"><a class="btn btn-dark btn-lg rounded-0"
            href="/areas">Areas</a>
    </div>
    <div class="col d-flex justify-content-center align-items-center"><a class="btn btn-dark btn-lg rounded-0"
            href="/courses">Courses</a></div>
    <div class="col d-flex justify-content-center align-items-center"><a class="btn btn-dark btn-lg rounded-0"
            href="/areacourses">Area Courses</a></div>
</div>
<hr>
<h1 class="display-6 text-center my-5">Current Content</h1>
{% regroup items by area as items_by_area %}
{% for area in items_by_area %}
<div class="content">
    <h3 class="my-4">{{ area.grouper }}</h3>
    {% for item in area.list %}
    <p>{{ item.course }} {{ item.optional|yesno:"Or,And" }}</p>
    {% endfor %}
</div>
{% endfor %}
<br><br>

{% endblock %}