{% extends 'base.html' %}

{% block content %}

<h1 class="display-6 mb-4">College List</h1>
<a href="/colleges/new" class="btn btn-primary mb-3">Create College</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Website</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for college in colleges %}
        <tr>
            <td>{{ college.college_name }}</td>
            <td>{{ college.college_website }}</td>
            <td>{{ college.college_description }}</td>
            <td><a href="/colleges/{{ college.id }}" class="btn btn-warning">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}